body{
    font-family: 'Rubik';
}
a{
    text-decoration: none;
}
.carousel-caption{
    color: black;
}

.continue-btn{
    margin: 0 auto;
}
.carousel{
    position: relative;
}
.card-img{
    max-width: 100%;
}
.carousel-text{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red ;
}
.banner-image{
    margin: 0 auto;
    min-width: 50%;
    max-height: 50%;
}
.logo-image{
    width: 200px
}
.card-headline{
    margin: 0 auto;
    font-size: 25px;
    color: red;
}
.height100 {
    height: 100%;
}
@media (max-width: 1000px) {
    .banner-image{
        min-width: 75%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');