body{
    font-family: 'Rubik';
}
a{
    text-decoration: none;
}
.carousel-caption{
    color: black;
}

.continue-btn{
    margin: 0 auto;
}
.carousel{
    position: relative;
}
.card-img{
    max-width: 100%;
    padding: 10px;
}
.banner-image{
    margin-left: 50px;
}
.logo-image{
    width: 200px
}
.card-headline{
    margin: 0 auto;
    font-size: 25px;
    color: red;
}
.height100 {
    height: 100%;
}
@media (min-width: 1000px) {
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');