body{
    font-family: 'Rubik';
}
a{
    text-decoration: none;
}
.carousel-caption{
    color: black;
}

.continue-btn{
    margin: 0 auto;
}
.carousel{
    position: relative;
}
.card-img{
    max-width: 100%;
}
.card-text{
    font-size: small;
}
.card-date{
    left: 0;
    font-size: x-small;
}
.carousel-text{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red ;
}
.carousel-item {
    transition: 0.2s;
}
.banner-image{
    margin: 0 auto;
    min-width: 50%;
    max-height: 50%;
}
.logo-image{
    width: 200px
}
.vk-logo{
    width: 30px;
    margin-right: 100px;
}
.footer-text{
    text-align: center;
    margin-left: 20px;
}
.card-headline{
    margin: 0 auto;
    font-size: 25px;
    color: red;
}
.pagination{
    margin: 0 auto;
}
.active>.page-link{
    background-color: red;
    border-color: rgba(73, 62, 62, 0.137);
}
.color-red{
    color: red;
}
.color-red:hover{
    color: rgba(186, 25, 25, 0.925);
}
.news-head{
    font-weight: bold;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.height100 {
    height: 100%;
}
@media (max-width: 1000px) {
    .banner-image{
        min-width: 75%;
    }
    .logotips{
        margin-left: 25%;
    }
    .footer-text{
        margin-left: 35%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');