{% extends "base.html" %}
{% block title %}Галерея | Точка роста Красногвардейская гимназия{% endblock %}
{% block content %}
<p class="header-about">Галерея</p>
<div class="album py-5">
    <div class="container-fluid">
      <div class="row d-inline-flex">
        {% for image in images %}
        <div class='col-12 col-sm-6 col-md-4 p-2'>
            <div class='card d-flex flex-column height100'>
                <img src="{{url_for('static', filename='images/news/' + image)}}" class='card-img img-fluid zoom-img'>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var offset = {{offset}};
    $('#checkbtn').on('click', function(){
    $.ajax({
        url: "api/get_images",
        type: "POST",
        data: {
            offset: offset,
        },
        success: function(data) {
            if (data['success']){
                $('.row').append(data['code']);
                offset += 10;
            }
            else{
                $('#checkbtn').css("display", "None");
                swal({
                    title: 'Произошла ошибка',
                    text: data['error'],
                    confirmButtonText: 'ОК',
                    confirmButtonColor: "red"
                });
            }
        }

    });
    });
</script>
<div class="d-flex justify-content-center">
    <button class="btn btn-danger" id="checkbtn">Загрузить еще...</button>
</div>
{% endblock %}