{% extends "base.html" %}
{% block title %}Главная | Точка роста | Красногвардейская гимназия{% endblock %}
{% block content %}
<div id="carousel" class="carousel slide slide-fade" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="{{url_for('static', filename='images/banner_1.jpg')}}" class="d-block w-50 banner-image" alt="...">
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_2.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>специализированные кабинеты</p>
  </div>
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_3.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>робототехника</p>
  </div>
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_4.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>возможность развития для каждого</p>
  </div>
</div>
</div>
<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
<span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
</a>
<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
<span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
</a>
</div>
<h5 class="news-head">НОВОСТИ</h5>
<div class="album py-5">
    <div class="container-fluid">
      <div class="row d-inline-flex">
          {% for new in news %}
            <div id="news_{{new['id']}}" class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card d-flex flex-column text-center height100">
                  <a href="/new/{{new['id']}}" class="card-text color-red">{{new['header']}}</a>
                  {% if new['images'] %}
                  <img src="{{url_for('static', filename='images/' + new['images'][0])}}" class= "card-img">
                  {% endif %}
                  <div class="card-body">
                  <p class="card-text">{{new['text']}}</p>
                  <div class="d-flex">
                      <a type="button" href="/new/{{new['id']}}" class="btn btn-danger continue-btn">Читать далее</a>
                  </div>
                </div>
                <div class="d-flex justify-content-around">
                  <p class="card-date p-2">{{new['date'].strftime("%d.%m.%y")}}</p>
                  <p class="card-date p-2">{{new['views']}} 👀</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
</div>
{% if total_pages > 1%}
<div class="pagination">
  <ul class="pagination">
    {% if current_page == 1 %}
    <li class="page-item active"><span class="page-link color-red">{{ current_page }}</span></li>
    {% if total_pages > 3 %}
    {% for i in range(2, 4) %}
    <li class="page-item"><a class="page-link color-red" href="{{ url_for('news', page=i) }}">{{ i }}</a></li>
    {% endfor %}
    {% endif %}
    {% if total_pages > 4 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
    <li class="page-item"><a class="page-link color-red" href="{{ url_for('news', page=total_pages) }}">{{ total_pages }}</a></li>
    {% else %}
    {% if current_page > 2 %}
    <li class="page-item"><a class="page-link color-red" href="{{ url_for('news', page=1) }}">1</a></li>
    {% endif %}
    {% if current_page > 3 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
    {% for i in range(current_page - 1, current_page + 2) if i > 0 and i <= total_pages %}
    {% if i == current_page %}
    <li class="page-item active"><span class="page-link color-red">{{ i }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link color-red" href="{{ url_for('news', page=i) }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if current_page < total_pages - 2 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
    {% if current_page < total_pages - 1 %}
    <li class="page-item"><a class="page-link color-red" href="{{ url_for('news', page=total_pages) }}">{{ total_pages }}</a></li>
    {% endif %}
    {% endif %}
    {% if total_pages > current_page %}
      <li class="page-item">
        <a class="page-link color-red" href="{{url_for('news', page=current_page+1)}}" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
      {% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}