{% extends "base.html" %}
{% block title %}Точка роста | Красногвардейская гимназия{% endblock %}
{% block content %}
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="{{url_for('static', filename='images/banner_1.jpg')}}" class="d-block w-50 banner-image" alt="...">
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_2.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>специализированные кабинеты</p>
  </div>
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_3.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>робототехника</p>
  </div>
</div>
<div class="carousel-item">
  <img src="{{url_for('static', filename='images/banner_4.jpg')}}" class="d-block w-50 banner-image" alt="...">
  <div class="carousel-text">
    <p>возможность развития для каждого</p>
  </div>
</div>
</div>
<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
<span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
</a>
<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
<span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
</a>
</div>
<h5 class="news-head">НОВОСТИ</h5>
<div class="album py-5">
    <div class="container-fluid">
      <div class="row d-inline-flex">
          {% for new in news %}
            <div id="news_{{new['id']}}" class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card d-flex flex-column text-center height100">
                  <a href="/new/{{new['id']}}" class="card-headline">{{new['headline']}}</a>
                  {% if new['images'] %}
                  <img src="{{url_for('static', filename='images/' + new['images'][0])}}" class= "card-img">
                  {% endif %}
                  <div class="card-body">
                  <p class="card-text">{{new['text']}}</p>
                  <div class="d-flex">
                      <a type="button" href="/new/{{new['id']}}" class="btn btn-danger continue-btn">Читать далее</a>
                  </div>
                </div>
                </div>
            </div>
          {% endfor %}
      </div>
    </div>
</div>
<div class="pagination">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="{{url_for('news', page=1)}}">1</a></li>
    <li class="page-item"><a class="page-link" href="{{url_for('news', page=2)}}">2</a></li>
    <li class="page-item"><a class="page-link" href="{{url_for('news', page=3)}}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}