{% extends "base.html" %}
{% block title %}Преподаватели | "Точка роста" Красногвардейская гимназия{% endblock %}
{% block content %}
<p class="header-about">Педагоги центра "Точка роста"</p>
<div class="album py-5">
    <div class="container-fluid">
      <div class="row d-inline-flex">
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Беккер Марина Александровна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9408_kopiya.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Герцен Ольга Александровна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9320.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ООО "Высшая школа делового администрирования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Давлетова Алия Тимурбулатовна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/Davletova_AT.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Современные онлайн технологии дистанционного обучения"</p>
                    <p class="card-text text-center">ООО "Академия дополнительного образования" г. Санкт - Петербург</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Давлетова Элида Светлановна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9436.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Требования к современному уроку в условиях реализации ФГОС НОО"</p>
                    <p class="card-text text-center">ГОУ СПО "Педколледж г. Бузулука"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Долгих Алексей Сергеевич</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9294.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Основы безопасности жизнедеятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Исанбитова Айгуль Самигулловна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9154.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Классен Светлана Викторовна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9310.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Наконечная Анастасия Андреевна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/Nakonechnaya_AA_A6.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Цифровая трансформация образования. Современные инструменты дистанционного образования Использование новейших информационных технологий в образовательном процессе"</p>
                    <p class="card-text text-center">ООО "НПО ПРОФЭКСПОРТС ОФТ"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Панин Петр Васильевич</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/Panin_PV1_A6_i_A5.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Содержание и методика преподавания учебного предмета «Технология» в соответствие с требованиями Концепции, преподавания"</p>
                    <p class="card-text text-center">ОГПУ</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Семенова Светлана Файзурахмановна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/Semenova_SF_A5.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Интерактивные формы образования на примере платформы Moodle"</p>
                    <p class="card-text text-center">ООО "Московский институт профессиональной переподготовки и повышения квалификации педагогов"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Склярук Наталья Александровна</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/Bekker_MA_A6_i_A5_0.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="card d-flex flex-column text-center height100">
                <h2 class="card-headline font-weight-bold">Тарнаев Денис Викторович</h2>
                <img src="https://gimn-krasnogvardejskaya-donskoe-r56.gosweb.gosuslugi.ru/netcat_files/9/148/ASH_9475.jpeg" class= "teacher-photo img-fluid">
                <div class="card-body">
                    <p class="card-text text-center">Прохождение курсов: "Гибкие компетенции проектной деятельности"</p>
                    <p class="card-text text-center">ФГАУ "Фонд новых форм развития образования"</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}